.dependency-graph {
  width: 100%;
  height: 100%;
  background-color: #f8fafc;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
}

.lmp-node {
  padding: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #e2e8f0;
  width: 180px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

.lmp-node-content {
  font-size: 14px;
  color: #4b5563;
  text-align: center;
}

.lmp-node-content a {
  color: #4b5563;
  text-decoration: none;
}

.lmp-node-content a:hover {
  color: #6366f1;
}